root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# General defaults
*.rs
*.go
*.c
*.cpp
*.h
*.hpp
*.py
indent_style = space
indent_size = 4

# Frontend and Config
*.ts
*.tsx
*.js
*.jsx
*.json
*.yaml
*.yml
*.md
indent_style = space
indent_size = 2

# Functional languages
*.hs
*.lua
indent_style = space
indent_size = 2

# Makefile
Makefile
indent_style = tab
